.section-tes-ls {
  padding-bottom: 48px;
  margin-bottom: 48px;
}

.section-tes-ls .row-test {
  margin: 0 -15px;
}

.section-tes-ls .head-test {
  padding: 0 15px;
  height: 35.19px;
}

.section-tes-ls .head-test h2 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: normal;
}

.section-tes-ls .all-test {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 58.3333333333333333%;
}

.section-tes-ls .all-test .img-test {
  margin: auto;
  width: 70px;
  margin-bottom: 16px;
}

.section-tes-ls .all-test .img-test img {
  width: 100%;
  border-radius: 50%;
}

.section-tes-ls .text-testm {
  text-align: center;
}

.section-tes-ls .all-test .text-testm h2 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: normal;
}

.section-tes-ls .all-test .text-testm blockquote {
  margin: auto auto 16px auto;
  font-size: 15px;
  line-height: 1.5;
  width: 80%;
}

.section-tes-ls .all-test .testmonials {
  position: relative;
  width: 100%;
  padding: 0 15px;
  transition-duration: 3s;
}
.section-tes-ls .all-test .testmonials .test.active {
  transition: 2s;
  transform: translateX(100%);
}
.section-tes-ls .all-test .testmonials .test {
  transition: 2s;
  /* transform: translateX(-100%); */
  transform: translateX(0);
}

.section-tes-ls .all-test .next-pre-testm .change {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
}

.section-tes-ls .all-test .next-pre-testm .change:hover {
  cursor: pointer;
}
.section-tes-ls .change {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #fff;
  font-size: 16px;
}
.section-tes-ls .right {
  right: -35px;
}

.section-tes-ls .all-test .left {
  left: -35px;
}

.section-tes-ls .buts {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -20px;
}

.section-tes-ls .all-test {
  display: flex !important;
}

.section-tes-ls .all-test .buts li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.section-tes-ls .all-test .buts li:last-child {
  background-color: black;
}

@media (max-width: 991px) {
  .section-tes-ls .all-test {
    width: 100%;
  }
  .section-tes-ls .all-test .testmonials {
    min-width: 100%;
  }
  .section-tes-ls .right {
    right: 1px;
  }
  .section-tes-ls .all-test .left {
    left: 1px;
  }
}

@media (max-width: 768px) {
  .section-tes-ls .all-test .next-pre-testm .change {
    display: none;
  }
  .section-tes-ls .all-test .text-testm blockquote {
    width: 100%;
  }
}
