/* .section-Testimonials {
  padding: var(--padd-padding) 0;
  margin: 4000px;
}
.section-Testimonials .row-test {
  margin: 0 -15px !important;
}
.section-Testimonials .head {
  text-align: center;
  max-width: 560px;
  padding: 0 15px !important;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.section-Testimonials .head h2 {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.section-Testimonials .head .line {
  width: 50px;
  height: 1px;
  background-color: #000;
  margin: 8px 0;
  display: inline-block;
}
.section-Testimonials .test-slid-con {
  text-align: center;
  position: relative;
  display: inline;
  display: flex;
}
.section-Testimonials .test-slid-con .test-ite {
  width: 100%;
  max-width: 560px;
  margin: auto;
  padding: 0 15px;
}
.section-Testimonials .test-slid-con .test-ite img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.section-Testimonials .test-slid-con .test-ite h2 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: normal;
}
.section-Testimonials .test-slid-con .test-ite blockquote {
  max-width: 500px;
  margin-bottom: 16px;
  display: inline-block;
}
.section-Testimonials .test-slid-con .test-ite blockquote p {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
}

.section-Testimonials .test-slid-con .slide-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-Testimonials .test-slid-con i.fa-angle-left {
  left: 30px !important;
}
.section-Testimonials .test-slid-con .slide-nav i.fa-angle-right {
  right: 30px !important;
  background-color: red;
} */
